.page1{
    position: relative;
}
.gradient-container{
    position: relative;
    width: 1335px;
    right: 0;
}
.arijit{
    padding-left: 100px;
    width: 100%;
    object-fit: cover;
    display: block;
    
}
.gradient{
    height: 100%;
    width: 1440px;
    background-image: linear-gradient(to top, black, transparent);
    position: absolute;
    top: 0;
    bottom: 0;
}
.name{
    position: absolute;
    color: white;
    margin-left: 250px;
    font-family: Roboto;
    font-size: 34px;
    font-weight: 700;
    top: 300px;
}
.about{
    position: absolute;
    color: white;
    font-family: Roboto;
    margin-right: 530px;
    margin-left: 250px;
    top: 370px;
    font-size: 14px;
    line-height: 1.5;
}
.more{
    position: absolute;
    color: white;
    font-family: Roboto;
    margin-right: 530px;
    margin-left: 250px;
    top: 420px;
    font-size: 16px;
    font-weight: 500;
}
.shuffle-icon{
    position: absolute;
    margin-left: 280px;
    width: 24px;
    top: 486px;
    z-index: 300;
}
.shuffle{
    display: inline;
    position: absolute;
    margin-left: 250px;
    top: 480px;
    padding-left: 60px;
    border: none;
    padding-right: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 50px;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
}
.radio-icon{
    position: absolute;
    margin-left: 430px;
    width: 38px;
    top: 482px;
    z-index: 300;
}
.radio{
    display: inline;
    position: absolute;
    margin-left: 410px;
    top: 480px;
    padding-left: 60px;
    border: none;
    padding-right: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 50px;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
}
.subscribe{
    position: absolute;
    margin-left: 562px;
    border-style: solid;
    border-width: 1px;
    border-color: red;
    background-color: black;
    color: red;
    padding-left: 14px;
    padding-right: 14px;
    padding-top: 8px;
    padding-bottom: 8px;
    border-radius: 18px;
    font-weight: 500;
    font-size: 16px;
    font-family: Roboto;
    top: 480px;
    cursor: pointer;
}
.page2{
    position: relative;

}
.song{
    z-index: 200;
    color: white;
    margin-left: 250px;
    font-family: Roboto;
    font-size: 34px;
    font-weight: 700;
    top: 300px;
    position: absolute;
}